<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pavers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E5151161F4ABC730006BE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E89656A1F2C8D6B00A867E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8965731F2C8D6B00A867E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EDF0CFD1F303B2900EDB5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
