<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaversArgo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PaversFRP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PaversParsec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>PaversParsecTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PaversUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E1D070A1F4C71A900D9CB38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E1D07121F4C71A900D9CB38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E3D75901F4DC5E600FFD6C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E3D75981F4DC5E700FFD6C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E5151C81F4AD7280006BE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E5151D01F4AD7280006BE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5343B5E01FCFF48A00B0BD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
